body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #7ffcff; /* Light cyan */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: underline;
  color: #3a0099;
  font-size: 18px;
}

.logout-btn {
  background-color: #f0f0f0;
  border: 1px solid #999;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e0e0e0;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}